@import "~/css/bootstrap.css";
body{
    font-family:tahoma;
}
ul{
    position:relative;
    background-color:khaki;
    padding:10px 10px 10px 10px;
    font-size:30px;
    list-style:none;
    text-decoration:none;
    
}
li{
    display:inline-block;
    color:black;            

    

}
li:hover{


}

a{
    text-decoration:none;
    display:inline-block;

}
a:hover{
                color:white;
                background:green;
    

}
.background {

}
